<h1>Update Client</h1>

<%= render 'form' %>


<%= link_to organization_client_path(@organization,@client),class: "btn btn-default" do %>  <i class="glyphicon glyphicon-eye-open"></i>
  <% end %> |
<%= link_to organization_client_path(@organization,@client),class: "btn btn-default" do%><i class="glyphicon glyphicon-step-backward"></i>
<% end %>

