<div class="container">
  <div class="row">
    <div class="col-sm-12">
<h1>Add Client</h1>

<%= render 'form' %>

<%= link_to  organization_path(@organization), class: "btn btn-default" do%><i class="glyphicon glyphicon-step-backward"></i>
<% end %>
</div>
      </div>
    </div>